body, html{
    height: 100%;
    margin: 0;
    font-size: 18px;
    line-height: 1.8em;
    color: #666;
}
.img1{
    background-image: url("../images/mainbackground.jpg");
    min-height: 100%;
    background-size: cover;
    position: relative;
    opacity: 0.70;
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align:center ;
    letter-spacing:8px ;
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.67;
}
.middle{
    text-align: center;
    background-color: blanchedalmond;
}
.middle p{

}
.img2{
    background-image: url("../images/mainbackground2.jpg");
    background-size: cover;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 70%;

}
.ptext2{
    text-align: center;
    position: absolute;
    top: 35%;
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.67;
}
.footer{
    text-align: center;
}
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    align-items: center;
    color: #111;
    display: flex;
}
.form{
    background-color: #fff;
    width: 65%;
    height: 40%;
}