body, html{
    height: 100%;
    margin: 0;
    font-size: 18px;
    line-height: 1.8em;
    color: #666;
}
.img1{
    background-image: url("../images/mainbackground.jpg");
    min-height: 100%;
    background-size: cover;
    position: relative;
    opacity: 0.70;
    background-position:center ;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align:center ;
    letter-spacing:8px ;
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.67;
}
.middle{
    text-align: center;
    background-color: blanchedalmond;
}
.img2{
    background-image: url("../images/mainbackground2.jpg");
    background-size: cover;
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 70%;

}
.ptext2{
    text-align: center;
    position: absolute;
    top: 35%;
    width: 100%;
    background-color: #111;
    color: #fff;
    padding: 20px;
    opacity: 0.67;
}
.footer{
    text-align: center;
}

.button1{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid;
    padding: 10px 30px;
    outline: none;
    border-radius: 24px;
    color: #000;
    transition: 0.25s;
    cursor: pointer;
}
.button1:hover{
    background-color: lawngreen;
}
.button7{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 1px solid;
    padding: 10px 30px;
    outline: none;
    border-radius: 24px;
    color: #000;
    transition: 0.25s;
    cursor: pointer;
}
.button7:hover{
    background-color: lawngreen;
}
.form1{
    display: none;
    background-color: #fff;
    border-radius: 24px;
}
.form {
    text-align: center;
    justify-content: center;
    align-items: center;
}
